*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared items */
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.btn{
    padding: 20px 30px ;
    background-color:#FD6E0A ;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


header{
    background-color:#FFF8F3 ;
    /* border: 2px solid #E2B89A; */
    background-image: url(images/developer.png) , url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position:left center, right bottom ;
    

}
nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px auto;
    padding: 20px 0px ;

}
nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    
}
nav ul{
    display: flex;
    gap:50px ;
}
nav h2{
    font-size: 45px;
    color: #181818;
}
.nav-h2{
    color: #FD6E0A;
}
ul{
    align-items: center;
}


.head-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    /* max-width: 1200px; */

    /* margin: 0px 38px 0px 230px ; */
    margin-left: 230px ;
    /* margin-right: 0px  ; */
    
   
}
section h2{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

section h1{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
section p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin: 20px 0px ;
}
.head-info{
    /* border: 2px solid red; */
    max-width: 800px;
}
/* .head-buttons{
    justify-content: space-between;
    display: flex;
    gap: 30px;
} */

.head-photo{
    margin-right: 50px;
    
}
.head-photo img{
    vertical-align: middle
}
 #DC{
    margin-right: 20px;
 }
.contact{
    padding: 20px 30px ;
    background-color:#FFF8F3 ;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
}

/* content_section */

.about-me{
    background-color: #FFF8F3;
    /* border: 2px solid black; */
    align-items: center;
    padding:130px 155px ;
    max-width: 1600px;
    margin: 130px 230px;
   
}
.all-about{
    margin: 110px 130px ;
    align-items: center;
    /* border: 1px solid rgb(231, 26, 122); */
    /* max-width: 1200px; */
}

.about-heading{
    /* align-items: center; */
    text-align: center;
}
.about-heading h2{
    font-size: 45px;
    color: #181818;
}
.about-heading p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin: 20px 0px ;
}
.about_foter{
    justify-content: space-around;
    display: flex;
    text-align: center;
    gap: 15px;
}
.about_foter p{
    font-size: 22px;
    color: #757575;
    line-height: 0px;
}
.about_foter h4{
    font-size: 25px;
    color: #474747;
}

/* main skill section */
.main_skill{
    padding-top: 130px;
    padding-bottom: 50px;
}



.main_skill_2 .skill_heading{
    margin: 0px auto; ;
    align-items: center;
    text-align: center;
    width: 900px;
    margin-bottom: 50px;
} 
.skill_heading h2{
    font-size: 45px;
    color: #181818;
}
..skill_heading p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin: 20px 0px ;
}
 .main_skill_2 .skill_foter{
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
 }
 .skill_foter .card{
    padding: 30px;
    /* border: 1px solid #E2B89A; */
    border-radius: 10px;
    margin: 0px 15px ;
    width: 300px;
    box-shadow: 0px 6px 50px 0 #0000003d ;
 }
 .card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 15px 0px ;
 }
 .card img{
    margin-bottom: 15px ;
 }
    .card p{
        font-size: 16px;
        color: #757575;
        line-height: 30px;
    }
    #resume{
        padding-top: 130px;


    }
   #resume .section_heading {
        /* margin: 0 auto; */
        /* border: 1px solid black; */
        /* align-items: center; */
        text-align: center;

    }
    
    #resume .resume_container{
        width: 72%;
        max-width: 1200px;
        margin: 115px auto 0;
        display: flex;
        gap: 25px;
    
    }
    .resume_container .section_title{
        color: #474747;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .resume_card{
        max-width: 550px;
        margin-right: 50px;
    }
    .resume_card .card_title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #474747;

    }
    .resume_card .card_info{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #757575;
    }
    .resume_card  .card_text{
        font-size: 16px;
        line-height: 28px;
        color: #757575;
    }
    .resume_container hr{
        margin:30px 0 ;
    }